<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<!--
  The tray's root actions. Each pins both the binary (exec.path) and
  its only argument (the first-argument annotation), so pkexec cannot be pointed at vinoauthface
  with caller-chosen flags. The helper acts only for PKEXEC_UID.
  auth_admin, never yes: every action changes who a face unlocks, what unlocks the login
  screen, how strict the liveness check is, or (upgrade) runs a downloaded deploy.sh as root.
-->
<policyconfig>
  <vendor>vinoAuthFace</vendor>
  <vendor_url>https://github.com/karanshukla/vinoAuthFace</vendor_url>
  <icon_name>vinoauthface</icon_name>

  <action id="io.github.karanshukla.vinoauthface.enrol">
    <description>Enrol your face for face unlock</description>
    <message>Authentication is required to enrol your face</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/vinoauthface-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">enrol</annotate>
  </action>

  <action id="io.github.karanshukla.vinoauthface.retrain">
    <description>Add frames to your enrolled face</description>
    <message>Authentication is required to retrain your face</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/vinoauthface-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">retrain</annotate>
  </action>

  <action id="io.github.karanshukla.vinoauthface.uninstall">
    <description>Uninstall vinoAuthFace</description>
    <message>Authentication is required to uninstall vinoAuthFace</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/vinoauthface-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">uninstall</annotate>
  </action>

  <action id="io.github.karanshukla.vinoauthface.upgrade">
    <description>Upgrade vinoAuthFace to the newest release</description>
    <message>Authentication is required to upgrade vinoAuthFace</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/vinoauthface-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">upgrade</annotate>
  </action>
  <action id="io.github.karanshukla.vinoauthface.login-off">
    <description>Turn off face unlock at the login screen</description>
    <message>Authentication is required to turn off face unlock at the login screen</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/vinoauthface-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">login-off</annotate>
  </action>

  <action id="io.github.karanshukla.vinoauthface.login-both">
    <description>Require your password and face at the login screen</description>
    <message>Authentication is required to change how the login screen authenticates</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/vinoauthface-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">login-both</annotate>
  </action>

  <action id="io.github.karanshukla.vinoauthface.login-face">
    <description>Unlock the login screen with your face</description>
    <message>Authentication is required to turn on face unlock at the login screen</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/vinoauthface-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">login-face</annotate>
  </action>

  <action id="io.github.karanshukla.vinoauthface.liveness-off">
    <description>Turn off motion liveness</description>
    <message>Authentication is required to turn off the motion check (a photo or screen can then unlock)</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/vinoauthface-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">liveness-off</annotate>
  </action>

  <action id="io.github.karanshukla.vinoauthface.liveness-standard">
    <description>Use standard motion liveness</description>
    <message>Authentication is required to use the standard motion check</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/vinoauthface-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">liveness-standard</annotate>
  </action>

  <action id="io.github.karanshukla.vinoauthface.liveness-strict">
    <description>Use strict motion liveness</description>
    <message>Authentication is required to use the strict motion check</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/vinoauthface-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">liveness-strict</annotate>
  </action>
</policyconfig>
